:root {
  font-family: 'Montserrat', 'Avenir Next', 'Gill Sans', 'Trebuchet MS', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  background: #eef3ff;
  color: #13254a;
}

#root {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
